<%= link_to event_path(event.id), data: {turbolinks: false} do %>
  <div class='event'>
    <h3 class='event_start_time'><%= event.start_time %></h3>
    <%= image_tag event.images.first.image.url , width: 100, hight: 100 %>
    <div>
      <span>タイトル</span>
      <p><%= event.title %></p>
      <span>参加人数/定員</span>
      <p><%= event.users.count.to_s + "/" + event.capacity.to_s %></p>
      <span>場所</span>
      <p><%= event.address %></p>
    </div>
  </div>
<% end %>