<div class='event_index_main'>
  <div class='user_index_main_left'>
    <%= search_form_for(@q, url: search_users_path) do |f| %>
      <div class='search_box'>
        <p><%= f.label :nickname_cont, 'ニックネーム', class: 'search_label' %></p>
        <%= f.search_field :nickname_cont, class: "search_field" %>
      </div>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
  <div class='user_index_main_right'>
    <%= render partial: 'user', collection: @users %>
  </div>
</div>