<div class='user_show_main'>
  <div class='my_page_user'>
    <%= image_tag @user.icon.url, weight: 200, height: 200 %>
    <p class='my_page_user_name'><span><%= @user.nickname %></span></p>
    <div class='my_page_introduction'>
      <%= @user.introduction %>
    </div>
  </div>

  <ul class='user_menu_list'>
    <li class='user_menu_item active'>
      <p>主催勉強会</p>
    </li>
    <li class='user_menu_item'>
      <p>参加勉強会</p>
    </li>
    <li class='user_menu_item'>
      <p>フォロー</p>
    </li>
    <li class='user_menu_item'>
      <p>フォロワー</p>
    </li>
  </ul>

  <div class='user_menu_list_content'>
    <div class='user_show_main-center'>
      <%= render partial: 'top/event', collection: @organize_events %>
    </div>
    <div class='user_show_main-center display-none'>
      <%= render partial: 'top/event', collection: @participate_events %>
    </div>
    <div class='user_show_main-center display-none'>
      <%= render partial: 'top/user', collection: @user.followings %>
    </div>
    <div class='user_show_main-center display-none'>
      <%= render partial: 'top/user', collection: @user.followers %>
    </div>
  </div>
</div>