<div class='event_index_main'>
  <div class='event_index_main_left'>
    <%= search_form_for(@q, url: search_events_path) do |f| %>
      <div class='search_box'>
        <p><%= f.label :title_cont, 'タイトル', class: 'search_label' %></p>
        <%= f.search_field :title_cont, class: "search_field" %>
      </div>
      <div class='search_box'>
        <p><%= f.label :address_cont, '開催場所', class: 'search_label' %></p>
        <%= f.search_field :address_cont, class: "search_field" %>
      </div>
      <div class='search_box'>
        <p><%= f.label :start_time_gt, '開始日時', class: 'search_label' %></p>
        <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
          <%= f.search_field :start_time_gt, class: "form-control datetimepicker-input text_field", id: "start_time", data: {toggle: "datetimepicker7", target: "#start_time"}%>
          <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
      <%= f.submit class: 'button' %>
    <% end %>
  </div>
  <div class='event_index_main_right'>
    <%= render partial: 'event', collection: @events %>
  </div>
</div>