<div class='event_show_main'>
  <div class='event_show'>
    <div class='event_show_top'>
      <div class='event_show_left'>
        <h3 class='title  margin-bottom'>タイトル</h1>
        <p><%= @event.title %></p>
        <div class='swiper-container'>
          <div class="swiper-wrapper">
            <% @event.images.each do |image| %>
              <div class='swiper-slide'>
                <%= image_tag image.image.url, width: 420, height: 300 %>
              </div>
            <% end %>
          </div>
          <div class="swiper-pagination swiper-pagination-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>

      <div class="event_show_center">
        <h3 class='title  margin-bottom'>開催場所</h3>
        <p><%= @event.address %></p>
        <div id='map' class='map'></div>
        <script>
          let mapInstance
          function initMap(){
            mapInstance = new google.maps.Map(document.getElementById('map'), {
              center: {lat: 35.667849, lng: 139.696978},
              zoom: 14
            });
            let pos = new google.maps.LatLng(
              gon.lat,
              gon.lng
            );
            mapInstance.setCenter(pos)
            
            let marker = new google.maps.Marker({
              map: mapInstance,
              position: pos
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
      </div>

      <div class="event_show_right">
        <h3 class='title  margin-bottom'>詳細情報</h3>
        <p>参加人数/定員</p>
        <p><%= @event.users.count.to_s + "/" + @event.capacity.to_s %></p>
        <p><%= "開始時間  #{@event.start_time}"%></p>
        <p><%= "終了時間  #{@event.end_time}"%></p>
        <p>タグ</p>
        <% @event.content_list.each do |tag| %>
          <span class="require"><%= tag %></span>
        <% end %>
        <% if @event.users.count != @event.capacity %>
          <% if @event.users.include?(current_user) %>
            <%= link_to exit_study_group_event_path(@event), method: :delete, remote: true do %>
              <p><button class="button-small">参加を取り消す</button></p>
            <% end %>
          <% else %>
            <%= link_to add_study_group_event_path(@event), method: :post, remote: true do %>
              <p><button class="button-small">参加する</button></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <div class='event_show_bottom'>
      <div class='event_show_bottom_title'>
        <h3 class='title'>勉強会概要</h3>
      </div>
      <%= @event.description%>
    </div>
  </div>
</div>