<!DOCTYPE html>
<html>
  <head>
    <title>StudyGroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js" %>
    <%= include_gon %>
  </head>

  <body>
    <div class='header'>
      <div class='header__left'>
        <%= link_to root_path do %>
          <div class='header__left__logo'>
            sutudy_group
          </div>
        <% end %>
      </div>
      <div class='header__right'>
        <div class='header__right__menu'>
          <% if current_user %>
            <%= link_to users_path, data: {turbolinks: false} do %>
              <div class='header_menu'>
                ユーザー一覧
              </div>
            <% end %>
            <%= link_to events_path, data: {turbolinks: false} do %>
              <div class='header_menu'>
                勉強会一覧
              </div>
            <% end %>
            <%= link_to new_event_path, data: {turbolinks: false} do %>
              <div class='header_menu'>
                イベント作成
              </div>
            <% end %>
            <%= link_to user_path(current_user), data: {turbolinks: false} do %>
              <div class='header_menu'>
                マイページ
              </div>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <div class='header_menu'>
                ログアウト
              </div>
            <% end %>
          <% else %>
            <%= link_to new_user_session_path do %>
              <div class='header_menu'>
                ログイン
              </div>
            <% end %>
            <%= link_to new_user_registration_path do %>
              <div class='header_menu'>
                アカウント作成
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='header_margin'>
    </div>


    <%= yield %>


    <footer class='footer'>
      <div class='copywright'>
        <p><span>©︎study_group</span></p>
      </div>
    </footer>
  </body>
</html>
